	<% layout('layout') %>
	<!-- 表单部分开始 -->
	<div class="container form" style="margin-top: 70px">
		<div class="col-sm-8 col-sm-push-2">
			<h1 class="text-center">登录</h1>
			<form role="form col-md-6" action="/users/login" method="post">
			  <div class="form-group">
			    <label for="exampleInputEmail1">邮箱</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入邮箱" name="username">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">密码 <a href="">忘记密码?</a></label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" name="password">
			  </div>
			  <p class="text-center">
				 <button type="submit" class="btn btn-default text-center btn-lg" style="padding: 15px 35px;font-size: 16px; letter-spacing: 0.25em">登录</button>
			  </p>
			</form>
			<p class="text-center newuser">新用户? &nbsp; <a href="/users/reg">点击此处新建用户</a></p>
		</div>	
		
	</div>
	<!-- 表单部分结束 -->