	<% layout('layout') %>
	<!-- 板块一开始 -->
	<div class="container section1">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h1>利用闲置时间，赚取更多收入</h1>
				<br />
				<br />
				<a href="/projects" class="bnt btn-primary btn-lg create" style="text-align: center">查看平台接受的项目</a>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="col-md-6 hidden-xs hidden-sm text-right max-width-100">
				<img src="/images/joinus.png" alt="" style="width: 80%;">
			</div>
		</div>
	</div>
	<!-- 板块一结束 -->
	<!-- 板块二开始 -->
	<div class="subnav text-center">
		<ul class="nav">
			<li><a href="#">成为开发者</a></li>
			<li><a href="#">加入MVP01</a></li>
		</ul>
	</div>
	<!-- 板块二结束 -->
	<!-- 板块三开始 -->
	<div class="container section3">
		<div class="padding-xs text-center">
			<h3 class="">成为开发者</h3>
			<p>随时随地赚取收入，自由接触更多有趣的项目</p>
			<p class="warn">*平台会绝对保密开发者个人信息</p>
			<a href="#" class="bnt btn-primary btn-lg">开始自由的挣钱</a>
		</div>
		<div class="row advantage">
			<div class="col-md-10">
				<h4>随时随地的工作</h4>
				<p>在MVP01你可以选择自己的工作时间，你可以利用周末或者晚上的时间参与自己感兴趣项目。 MVP01的开发者每周一般花费10-20小时，但你也可以选择全职在平台上贡献自己的技能。</p>
				<h4>更自由的赚钱</h4>
				<p>开发者在1～2个月的项目上赚取2万～6万的收入，随着你在平台贡献越多的技能，接到项目的机会就更多，有可能你能一个月赚取8万。</p>
				<h4>与精英交流协作</h4>
				<p>平台入驻100+位充满活力且具有创造性的工程师、产品经理和设计师，他们都来自领先互联网科技公司，高校和开源项目组织。通过利用由MVP01建立内部基础协作平台上相互学习和交流。别忘了，你的客户也大多是特定领域的精英呦。</p>
			</div>
		</div>
	</div>
	<!-- 板块三结束 -->
	<!-- 板块四开始 -->
	<div class="container-fluid">
		<div class="container section4">
			<div class="padding-xs text-center">
				<h3>加入MVP01</h3>
				<p>简历投递: <a href="#">jobs@mvp01.com</a></p>
			</div>
			<div class="row advantage">
			<div class="col-md-10">
				<h4>与客户一起改变世界</h4>
				<p>在MVP01团队你可以接触各个行业有趣的项目，基于自己的经验帮助客户梳理产品需求，最大程度的参与到整个产品创造的过程中，并为客户提供高效的项目管理，保证产品高质量按时交付。</p>
				<h4>塑造下一代工作方式</h4>
				<p>我们创造更好的远程协同工具和系统，不断积累互联网产品的开发经验，建立有序、高效的工作流程。平台开发者利用自己自由的时间，贡献专业技能，随着平台不断成长在获取更多收入的同时，更塑造了下一代工作方式。</p>
				<h4>体验友好的工作界面</h4>
				<p>最大限度地减少专业人士的干扰是MVP01的理念，平台内部构建基于Git的代码统一托管和内部自主研发的项目管理系统的支持，并提供项目状态的实时报告自动更新和即时沟通的交流工具，一切都是为了聚焦于打造杰出产品。</p>
			</div>
		</div>
		</div>
	</div>
	<!-- 板块四结束 -->
	<!-- 板块五开始 -->
	<div class="container section3 text-center">
		<h2 style="display: inline-block;">成为开发者</h2>
		<a href="#" class="btn btn-primary btn-lg create" style="display: inline-block;">现在申请</a>
	</div>