
	<% layout('./layout') %>
	<!-- 板块一开始 -->
	<div class="container section1">
		<div class="space"></div>
		<div class="row part">
			<div class="col-md-8">
				<h2>离产品成功，您还差一个靠谱的开发团队</h2>
				<p>提交您的项目创意，将由专业项目经理与您一对一沟通，并组建精英团队，项目过程透明可跟踪，帮您快速完成产品</p>
				<a href="/projects" class="btn btn-primary btn-lg create">创建项目</a>
			</div>
			<div class="col-md-4 hidden-sm hidden-xs">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="/images/instantprice.png" alt="...">
				    </div>
				    <div class="item">
				      <img src="/images/fixedpricing.png" alt="...">
				    </div>
				    <div class="item">
				      <img src="/images/endtoendmanagement.png" alt="...">
				    </div>
				  </div>
					
				   <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
				</div>
			</div><!-- .col-lg-4 -->
		</div><!-- .row -->
		<div class="row arrow">
			<span class="glyphicon glyphicon-chevron-down"></span>
		</div>
	</div>
	<!-- 板块一结束 -->
	<!-- 板块二开始 -->
	<div class="container-fluid section2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h5>我们是谁</h5>
					<h2>那些行踪难寻的开发和设计大牛都在MVP01</h2>
					<p>他们来自顶尖互联网公司和一流大学，有丰富的产品开发经验。利用业余(或全职)时间基于共享协作模式，为您打造优质产品。</p>
					<a href="#" class="more">了解更多</a>
				</div>
				<div class="col-md-6 partner text-right">
					<img  src="/images/partner.png" alt="" style="width: 70%">
				</div>
			</div><!-- .row (1) -->
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<h5>解决方案</h5>
					<h2>多平台解决方案</h2>
					<p>我们提供App、网站&H5、微信开发、IoT(物联网)、场景化人工智能、VR/AR和企业应用2.0各类实现方案，助力您的业务商用化。</p>
					<a href="#" class="more">了解更多</a>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<img src="/images/moreplatform.png" alt="" style="width: 90%;">
				</div>
			</div><!-- row(2) -->
			<div class="row">
				<div class="col-md-6">
					<h5>如何使用</h5>
					<h2>从一个创意到高质量产品</h2>
					<p>
						提交您的项目创意，快速获得报价。确定后即可开始工作，项目经理会周期性与您沟通产品进度，直到我们高质量地完成。
					</p>
					<a href="#" class="more">了解更多</a>
				</div>
				<div class="col-md-6 text-right computer">
					<img src="/images/qaz.png" alt="" style="width: 70%;">
				</div>
			</div>
		</div><!-- .container -->
	</div>
	<!-- 板块二结束 -->
	<div class="container section3 text-center">
		<h2 style="display: inline-block;">开启您的产品</h2>
		<a href="#" class="btn btn-primary btn-lg create" style="display: inline-block;">创建项目</a>
	</div>